<p id="notice"><%= notice %></p>

<h1>Minhas contas</h1>

<table>
  <thead>
    <tr>
      <th>Ativa?</th>
      <th>Saldo (R$)</th>
      <th>Data encerramento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.active %></td>
        <td><%= account.saldo %></td>
        <td><%= account.data_encerramento %></td>
        <td><%= link_to 'Ver detalhes', account %></td>
        <td><%= link_to 'Gerenciar', edit_account_path(account) %></td>
        <td><%= link_to 'remover', account, method: :delete, data: { confirm: 'Remover sua conta?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
