<p id="notice"><%= notice %></p>

<p>
  <strong>Conta ativa?</strong>
  <%= (@account.active) ? 'Sim': 'Não' %>
</p>

<p>
  <strong>Saldo: R$</strong>
  <%= @account.saldo %>
</p>

<p>
  <strong>Data encerramento:</strong>
  <%= @account.data_encerramento %>
</p>

<%= link_to 'Editar', edit_account_path(@account) %> 
