<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>


<% if @user.client %>
  <p>
    <strong>login:</strong>
    <%= @user.client.login %>
  </p>

  <p>
    <strong>senha:</strong>
    <%= @user.client.senha %>
  </p>

<% end %>

<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>RG:</strong>
  <%= @user.rg %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @user.cpf %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %>
<%#= link_to 'voltar', users_path %>
