<!DOCTYPE html>
<html>
<head>
  <title>Tradebitcoin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="main-template-tradebitcoin">

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <p>
    <%= image_tag "bitcoin.jpg" %>
  </p>

  <%= yield %>

  <%= render 'index/footer' %>

</div>


</body>
</html>
