<p id="notice"><%= notice %></p>

<p>
  <strong>Senha:</strong>
  <%= @client.senha %>
</p>

<p>
  <strong>Verificado:</strong>
  <%= @client.verificado %>
</p>

<p>
  <strong>User:</strong>
  <%= @client.user %>
</p>

<p>
  <strong>User:</strong>
  <%= @client.user %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
